<% provide(:title, @person.name) %>
<!-- Show individual people -->
<div class="row">
  <aside class="col-md-4">
    <section class="user_info"?
      <h1>
        <%= gravatar_for @person %>
        <%= @person.name %>
      </h1>
    </section>
  </aside>
</div>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @person.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @person.height %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @person.colour %>
</p>

<%= link_to 'Back', people_path %>
